<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>
<mappers>
    <mapper resource="org/noMoon/ArtificalSociety/commons/mappers/SequenceMapper.xml"/>
    <mapper resource="org/noMoon/ArtificalSociety/society/mappers/SocietyMapper.xml"/>
    <mapper resource="org/noMoon/ArtificalSociety/institution/mappers/InstitutionMapper.xml"/>
    <mapper resource="org/noMoon/ArtificalSociety/institution/mappers/ClubMapper.xml"/>
    <mapper resource="org/noMoon/ArtificalSociety/career/mappers/CareerMapper.xml"/>
    <mapper resource="org/noMoon/ArtificalSociety/career/mappers/WorkplaceMapper.xml"/>
    <mapper resource="org/noMoon/ArtificalSociety/group/mappers/GroupMapper.xml"/>
    <mapper resource="org/noMoon/ArtificalSociety/history/mappers/HistoryMapper.xml"/>
</mappers>
</configuration>