<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:oxm="http://www.springframework.org/schema/oxm"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans-3.1.xsd


http://www.springframework.org/schema/context


http://www.springframework.org/schema/context/spring-context-3.1.xsd


http://www.springframework.org/schema/tx


http://www.springframework.org/schema/tx/spring-tx-3.1.xsd


http://www.springframework.org/schema/aop


http://www.springframework.org/schema/aop/spring-aop-3.1.xsd


http://www.springframework.org/schema/oxm


http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd


http://www.springframework.org/schema/jdbc


http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd"

        >
    <import resource="classpath:spring-config.xml"/>

    <bean id="sequenceService" class="org.noMoon.ArtificalSociety.commons.services.impl.SequenceServiceImpl">
        <property name="sequenceMapper" ref="sequenceMapper" />
    </bean>

    <bean id="societyService" class="org.noMoon.ArtificalSociety.society.services.impl.SocietyServiceImpl">
        <property name="societyMapper" ref="societyMapper" />
        <property name="sequenceService" ref="sequenceService" />
    </bean>

    <bean id="institutionService" class="org.noMoon.ArtificalSociety.institution.services.impl.InstitutionServiceImpl">
        <property name="institutionMapper" ref="institutionMapper" />
    </bean>

    <bean id="network_configuration" class="org.noMoon.ArtificalSociety.commons.utils.Configuration">
        <property name="societyService" ref="societyService" />
    </bean>

    <bean id="clubService" class="org.noMoon.ArtificalSociety.institution.services.impl.ClubServiceImpl">
        <property name="clubMapper" ref="clubMapper" />
    </bean>

    <bean id="careerService" class="org.noMoon.ArtificalSociety.career.services.impl.CareerServiceImpl">
        <property name="careerMapper" ref="careerMapper" />
        <property name="workplaceMapper" ref="workplaceMapper" />
        <property name="institutionService" ref="institutionService" />
    </bean>

    <bean id="groupSerivce" class="org.noMoon.ArtificalSociety.group.Services.impl.GroupServiceImpl">
        <property name="groupMapper" ref="groupMapper" />
        <property name="institutionService" ref="institutionService" />
        <property name="clubService" ref="clubService" />
        <property name="careerService" ref="careerService" />
    </bean>

    <bean id="historyService" class="org.noMoon.ArtificalSociety.history.services.impl.HistoryServiceImpl">
        <property name="historyMapper" ref="historyMapper" />
    </bean>

    <bean id="personService" class="org.noMoon.ArtificalSociety.person.services.impl.PersonServiceImpl">
        <property name="personMapper" ref="personMapper"/>
        <property name="careerService" ref="careerService"/>
        <property name="sequenceService" ref="sequenceService"/>
        <property name="groupService" ref="groupSerivce" />
    </bean>

    <bean id="attributeAssigner" class="org.noMoon.ArtificalSociety.person.utils.AttributeAssigner">
        <property name="careerService" ref="careerService" />
        <property name="historyService" ref="historyService"/>
        <property name="institutionService" ref="institutionService"/>
    </bean>

    <bean id="groupAdder" class="org.noMoon.ArtificalSociety.person.utils.GroupAdder">
        <property name="historyService" ref="historyService" />
        <property name="groupService" ref="groupSerivce"/>
        <property name="careerService" ref="careerService"/>
        <property name="institutionService" ref="institutionService"/>
        <property name="clubService" ref="clubService"/>
        <property name="sequenceService" ref="sequenceService" />
    </bean>

    <bean id="traitMatcher" class="org.noMoon.ArtificalSociety.person.utils.TraitMatcher">
        <property name="careerService" ref="careerService"/>
        <property name="historyService" ref="historyService"/>
    </bean>

    <bean id="relationshipCalculator" class="org.noMoon.ArtificalSociety.person.utils.RelationshipCalculator">
        <property name="historyService" ref="historyService"/>
    </bean>

    <bean id="dyadicNetworkGenerator" class="org.noMoon.ArtificalSociety.NetworkGenerator.DyadicNetworkGenerator">
        <property name="institutionService" ref="institutionService" />
        <property name="clubService" ref="clubService" />
        <property name="careerService" ref="careerService" />
        <property name="groupService" ref="groupSerivce"></property>
    </bean>
</beans>